.icon {
	display: inline-block;
	color: #444444;
	fill: currentColor;
	background-color: transparent;
}
.icon-google-plus2 {
	width: 32px;
	height: 32px;
}
.icon-facebook2 {
	width: 32px;
	height: 32px;
}
.icon-twitter2 {
	width: 32px;
	height: 32px;
}
.icon-linkedin {
	width: 32px;
	height: 32px;
}
.icon-stumbleupon {
	width: 32px;
	height: 32px;
}
.icon-pinterest2 {
	width: 32px;
	height: 32px;
}
